<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <h3>
            <i class="fas fa-th-large"></i> Facturas <br> <br>
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table bg-light text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Fecha de compra</th>
                        <th>Subtotal</th>
                        <th>Impuestos</th>
                        <th>Total</th>
                        <th>Detalles de compra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoid of factura">
                        <td>{{invoid.created_at}}</td>
                        <td>{{invoid.subtotal}}</td>
                        <td>{{invoid.taxes}}</td>
                        <td>${{invoid.total}}</td>
                        <td>
                            <button (click)="facturaDetail(invoid.id_invoice)" type="button" class="btn btn-outline-info btn-sm">Detalles <i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>