<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <h3>
            &nbsp; {{product.product}} <br> <br>
            <button (click)="addToCart()" type="button" class="btn btn-outline-success">Agregar al carrito <i class="fas fa-plus"></i></button> &nbsp; &nbsp;
            <button (click)="updateProduct(product)" type="button" class="btn btn-outline-info btn-sm">Actualizar producto <i class="fas fa-edit"></i></button>
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table bg-light text-center" style="width:100%">
                <tbody>
                    <tr>
                        <th>GTIN</th>
                        <td>{{ product.gtin }}</td>
                    </tr>
                    <tr>
                        <th>Descripccion</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <th>Cantidad en stock</th>
                        <td>{{ product.stock }}</td>
                    </tr>
                    <tr>
                        <th>
                            {{ category.category }}
                        </th>
                        <td>
                            <button (click)="updateProductCategory()" type="button" class="btn btn-outline-info btn-sm">Actualizar la categoria <i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button style="float: right" (click)="uploadProductImage()" type="button" class="btn btn-outline-info btn-lg">Agregar imagen <i class="fas fa-edit"></i></button>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="product_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Producto</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa el codigo GTIN:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="gtin" formControlName="gtin" placeholder="GTIN...">
                  <div *ngIf="submitted && f['gtin'].errors">
                    <div *ngIf="f['gtin'].errors['required']">
                        <span class="text-danger">El GTIN del producto es obligatorio</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el nombre del producto:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="product" formControlName="product" placeholder="Nombre...">
                    <div *ngIf="submitted && f['product'].errors">
                      <div *ngIf="f['product'].errors['required']">
                          <span class="text-danger">El anombre del producto es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa la descripccion:<span class="text-danger">*</span></label>
                    <textarea type="text" class="form-control marginForm" id="description" formControlName="description" placeholder="Descripccion..."></textarea>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el precio del producto:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="price" formControlName="price" placeholder="precio...">
                    <div *ngIf="submitted && f['price'].errors">
                      <div *ngIf="f['price'].errors['required']">
                          <span class="text-danger">El precio del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa la cantidad en stock:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="stock" formControlName="stock" placeholder="Cantidad en stock...">
                    <div *ngIf="submitted && f['stock'].errors">
                      <div *ngIf="f['stock'].errors['required']">
                          <span class="text-danger">La cantidad de productos es obligatoria</span>
                      </div>
                    </div>
                </div>
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-success marginForm" [disabled]="submitted">Registrar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="category_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Categoria</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formularioCategory" (ngSubmit)="onSubmitCategory()">
                <div class="form-group">
                    <label for="region">Selecciona la categoria a la que pertenece el producto:<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="id_category" id="id_category">
                        <option *ngFor="let category of categories" [ngValue]="category.id_category"> {{category.category}} </option>
                    </select>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-info marginForm" [disabled]="submitted">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="image_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Imagen</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <label for="image">Imagen<span class="text-danger">*</span></label>
            <div class="custom-file form-group">
                <input type="file" accept="image/*" class="custom-file-input" (change)=fileChangeEvent($event)>
                <ngx-photo-editor
                    [imageChangedEvent]="imageChangedEvent"
                    (imageCropped)="imageCropped($event)"
                    [aspectRatio]="6/4"
                    [viewMode]="0"
                    [resizeToWidth]="500">
                </ngx-photo-editor>
            </div>
            <div>
                <br>
                <button (click)="onSubmitImage()" type="button" class="btn btn-success btn-block">Agregar</button>
            </div>
        </div>

        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="cards-img">
    <div *ngFor="let img of images" class="card card-img" style="width: 18rem;">
        <img class="card-img-top" src="assets\{{img.image}}" alt="Card image cap">
        <div class="card-body text-center">
            <button (click)="deleteProductImage(img.id_product_image)" type="button" class="btn btn-outline-danger btn-sm">Eliminar <i class="fas fa-trash"></i></button>
        </div>
      </div>
</div>
