<div class="container px-4 px-lg-5 mt-5">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed btn-secondary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          <h4 class="text-info">Selecionar categoria:</h4>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let category of categories">
              <a
                (click)="getProductByCategory(category.id_category)"
                href="#"
                >{{ category.category }}</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div
    id="tarjetas"
    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
  >
    <div *ngFor="let product of products">
      <div class="col mb-5">
        <div class="card border-secondary bg-dark">
          <!-- Product image-->
          <!--img         pendiente
                        class="card-img-top"
                        src="assets\{{product.id_product}}\{{images}}"
                        alt="Card image cap"
                    /-->
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.product }}</h5>
              <!-- Product price-->
              <p class="lead text-white-90">${{ product.price }}</p>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <button
                (click)="productDetail(product.gtin)"
                type="button"
                class="btn btn-outline-info btn-sm"
              >
                Detalles <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
