<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <h3>
            <i class="fas fa-th-large"></i> Clientes <br> <br>
            <button (click)="createCustomer()" type="button" class="btn btn-outline-success btn-sm">Agregar cliente <i class="fas fa-plus"></i></button>
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table bg-light text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Nombre</th>
                        <th>RFC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td>{{ customer.name }} {{customer.surname}} </td>
                        <td> {{customer.rfc}} </td>
                        <td>
                            <button (click)="customerDetail(customer.rfc)" type="button" class="btn btn-outline-info btn-sm">Detalles <i class="fas fa-id-card"></i></button>
                            &nbsp;
                            <button (click)="deleteCustomer(customer.id_customer)" type="button" class="btn btn-outline-danger btn-sm">Eliminar <i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="customer_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Cliente</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa el nombre:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="name" formControlName="name" placeholder="Nombre...">
                  <div *ngIf="submitted && f['name'].errors">
                    <div *ngIf="f['name'].errors['required']">
                        <span class="text-danger">El nombre del cliente es obligatorio</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el apellido:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="surname" formControlName="surname" placeholder="Apellido...">
                    <div *ngIf="submitted && f['surname'].errors">
                      <div *ngIf="f['surname'].errors['required']">
                          <span class="text-danger">El apellido del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el RFC:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="rfc" formControlName="rfc" placeholder="RFC...">
                    <div *ngIf="submitted && f['rfc'].errors">
                      <div *ngIf="f['rfc'].errors['required']">
                          <span class="text-danger">El RFC del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el correo electronico:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="mail" formControlName="mail" placeholder="Correo...">
                    <div *ngIf="submitted && f['mail'].errors">
                      <div *ngIf="f['mail'].errors['required']">
                          <span class="text-danger">El correo electronico del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa la direccion del cliente:<span class="text-danger">*</span></label>
                    <textarea type="text" class="form-control marginForm" id="address" formControlName="address" placeholder="Direccion..."></textarea>
                    <div *ngIf="submitted && f['address'].errors">
                      <div *ngIf="f['address'].errors['required']">
                          <span class="text-danger">La direccion del cliente es obligatoria</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Selecciona la region a la que pertenece el cliente:<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="id_region">
                        <option value="0" disabled>Selecciona una region:</option>
                        <option *ngFor="let region of regions" [ngValue]="region.id_region"> {{region.region}} </option>
                    </select>
                    <div *ngIf="submitted && f['region'].errors">
                      <div *ngIf="f['region'].errors['required']">
                          <span class="text-danger">La region del cliente es obligatoria</span>
                      </div>
                    </div>
                </div>
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-success marginForm" [disabled]="submitted">Registrar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>
