<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        Copyright &copy; Desarrollo web Frontend -  Dante Jusepee Sinencio Granados, 2021
      </p>
      <p class="m-0 text-center text-white">Consulta nuestro <a href="#">Aviso de privacidad</a> y <a href="#">Terminos y condiciones</a></p>
    </div>
  </footer>