<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <h3>
            <i class="fas fa-th-large"></i> Categorias <br> <br>
            <button (click)="createCategory()" type="button" class="btn btn-outline-success btn-sm">Agregar categoria <i class="fas fa-plus"></i></button>
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table bg-light text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Categoria</th>
                        <th>---</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{ category.category }}</td>
                        <td>
                            <button (click)="updateCategory(category)" type="button" class="btn btn-outline-info btn-sm">Actualizar <i class="fas fa-edit"></i></button>
                            &nbsp;
                            <button (click)="deleteCategory(category.id_category)" type="button" class="btn btn-outline-danger btn-sm">Eliminar <i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="category_modal_create">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Agregar categoria</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa el nombre de la categoria:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="category" formControlName="category" placeholder="Categoria...">
                  <div *ngIf="submitted && f['category'].errors">
                    <div *ngIf="f['category'].errors['required']">
                        <span class="text-danger">El nombre de la categoria es obligatoria</span>
                    </div>
                  </div>
                </div> 
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-success marginForm" [disabled]="submitted">Registrar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="category_modal_update">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Actualizar categoria</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa el nombre de la categoria:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="category" formControlName="category" placeholder="Categoria...">
                  <div *ngIf="submitted && f['category'].errors">
                    <div *ngIf="f['category'].errors['required']">
                        <span class="text-danger">El nombre de la categoria es obligatoria</span>
                    </div>
                  </div>
                </div> 
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-info marginForm" [disabled]="submitted">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>
