<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <h3>
            <i class="fas fa-globe"></i> Regiones <br> <br>
            <button (click)="createRegion()" type="button" class="btn btn-outline-success btn-sm">Agregar region <i class="fas fa-plus"></i></button>
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table bg-light text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Region</th>
                        <th>Modificar region</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let region of regions">
                        <td>{{ region.region }}</td>
                        <td>
                            <button (click)="updateRegion(region)" type="button" class="btn btn-outline-info btn-sm">Actualizar <i class="fas fa-edit"></i></button>
                            &nbsp;
                            <button (click)="deleteRegion(region.id_region)" type="button" class="btn btn-outline-danger btn-sm">Eliminar <i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2">
            <button (click)="getRegions()" type="submit" class="btn btn-lg btn-primary marginForm">Actualizar lista de regiones</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="region_modal_create">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Agregar region</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa la region:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="region" formControlName="region" placeholder="Region...">
                  <div *ngIf="submitted && f['region'].errors">
                    <div *ngIf="f['region'].errors['required']">
                        <span class="text-danger">El nombre de la region es obligatoria</span>
                    </div>
                  </div>
                </div> 
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-success marginForm" [disabled]="submitted">Registrar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="region_modal_update">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Actualizar region</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa la region:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="region" formControlName="region" placeholder="Region...">
                  <div *ngIf="submitted && f['region'].errors">
                    <div *ngIf="f['region'].errors['required']">
                        <span class="text-danger">El nombre de la region es obligatoria</span>
                    </div>
                  </div>
                </div> 
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-primary marginForm" [disabled]="submitted">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>