<div class="container-fluid bg-dark">
  <div class="card-header text-center">
      <h3>
          <i class="fas fa-th-large"></i> Detalles de la compra <br> <br>
      </h3>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table bg-light text-center">
              <thead class="thead-light">
                  <tr>
                      <th>GTIN</th>
                      <th>Productos comprados</th>
                      <th>Precio por unidad</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of item">
                      <td>{{item.gtin}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.unit_price}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
