<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <h3>
            <i class="fas fa-th-large"></i> Productos <br> <br>
            <button (click)="createProduct()" type="button" class="btn btn-outline-success btn-sm">Agregar producto <i class="fas fa-plus"></i></button>
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table bg-light text-center">
                <thead class="thead-light">
                    <tr>
                        <th>GTIN</th>
                        <th>Producto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.gtin }}</td>
                        <td>{{ product.product }}</td>
                        <td>
                            <button (click)="productDetail(product.gtin)" type="button" class="btn btn-outline-info btn-sm">Detalles <i class="fas fa-edit"></i></button>
                            &nbsp;
                            <button (click)="deleteProduct(product.id_product)" type="button" class="btn btn-outline-danger btn-sm">Eliminar <i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="product_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Producto</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa el codigo GTIN:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="gtin" formControlName="gtin" placeholder="GTIN...">
                  <div *ngIf="submitted && f['gtin'].errors">
                    <div *ngIf="f['gtin'].errors['required']">
                        <span class="text-danger">El GTIN del producto es obligatorio</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el nombre del producto:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="product" formControlName="product" placeholder="Nombre...">
                    <div *ngIf="submitted && f['product'].errors">
                      <div *ngIf="f['product'].errors['required']">
                          <span class="text-danger">El anombre del producto es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa la descripccion:<span class="text-danger">*</span></label>
                    <textarea type="text" class="form-control marginForm" id="description" formControlName="description" placeholder="Descripccion..."></textarea>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el precio del producto:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="price" formControlName="price" placeholder="precio...">
                    <div *ngIf="submitted && f['price'].errors">
                      <div *ngIf="f['price'].errors['required']">
                          <span class="text-danger">El precio del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa la cantidad en stock:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="stock" formControlName="stock" placeholder="Cantidad en stock...">
                    <div *ngIf="submitted && f['stock'].errors">
                      <div *ngIf="f['stock'].errors['required']">
                          <span class="text-danger">La cantidad de productos es obligatoria</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Selecciona la categoria a la que pertenece el producto:<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="id_category" id="id_category">
                        <option value="0" disabled>Selecciona una categoria:</option>
                        <option *ngFor="let category of categories" [ngValue]="category.id_category"> {{category.category}} </option>
                    </select>
                    <div *ngIf="submitted && f['category'].errors">
                      <div *ngIf="f['category'].errors['required']">
                          <span class="text-danger">La categoria del producto es obligatoria</span>
                      </div>
                    </div>
                </div>
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-success marginForm" [disabled]="submitted">Registrar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>
