<div class="container-fluid">
    <div class="card bg-dark">
        <div class="card-header bg-success">
          <h1><i class="fas fa-dollar-sign"></i> Exchange Rate</h1>
        </div>

        <div class="card-body bg-dark text-center">
            <h4>Base: {{ exchange_rate.base_code }}</h4>
            <form [formGroup]="formulario" (ngSubmit)="ngSubmit()">
                <div class="form-group">
                  <label for="rate">Ingresa la tasa de cambio:</label>
                  <input type="text" class="form-control marginForm" id="rate" formControlName="rate" placeholder="Tasa de cambio...">
                </div>
                <button type="submit" class="btn btn-primary marginForm">Consultar</button>
            </form>

            <div class="table-responsive">
                <table class="table bg-light">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">RATES</th>
                        <th scope="col">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rate of exchange_rate.conversion_rates | keyvalue">
                        <td>{{ rate.key }}</td>
                        <td>{{ rate.value }}</td>
                      </tr>

                    </tbody>
                </table>
            </div>

        </div>
        
        <div class="card-footer text-right bg-dark">
            <p>Resultado: {{ exchange_rate.result }}</p>
            <p>Documentacion: <a href="https://www.exchangerate-api.com/docs">{{ exchange_rate.documentation }} </a></p>
            <p>Terminos de uso: <a href="https://www.exchangerate-api.com/terms">{{ exchange_rate.terms_of_use }}</a></p>
            <p>Ultima actualizacion (unix): {{ exchange_rate.time_last_update_unix }}</p>
            <p>Ultima actualizacion (utc): {{ exchange_rate.time_last_update_utc }}</p>
            <p>Siguiente actualiacion (unix): {{ exchange_rate.time_next_update_unix }}</p>
            <p>Siguiente actualizacion (utc): {{ exchange_rate.time_next_update_utc }}</p>
        </div>
      </div>
</div>