<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" id="navbar">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" > Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cart" > Carrito</a>
        </li>
        <li class="nav-link">|</li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/clientes" ><i class="far fa-user"></i> Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/region">Regiones</a>
        </li>
        <li class="nav-link">|</li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/product"><i class="fas fa-box"></i> Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category">Categorias</a>
        </li>
        <li class="nav-link">|</li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/invoice"><i class="far fa-file-alt"></i> Facturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exchange-rate">Tasa de cambio</a>
        </li>
      </ul>
    </div>
  </nav>
