<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <table class="table" style="width:100%">
            <tbody>
                <tr>
                    <th>
                        <img src="{{ customer.image }}" width="125" height="150">
                        <button (click)="updateCustomerImage()" type="button" class="btn btn-link btn-sm">Cambiar foto <i class="fas fa-user"></i></button>
                    </th>
                    <td>
                        <br>
                        <h2> {{customer.name}} </h2>
                        <h2> {{customer.surname}} </h2>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body">
        <div class="table" style="width:100%">
            <table class="table bg-light text-center">
                <tbody>
                    <tr>
                        <th>RFC</th>
                        <td> {{customer.rfc}} </td>
                    </tr>
                    <tr>
                        <th>Correo electronico</th>
                        <td> {{customer.mail}} </td>
                    </tr>
                    <tr>
                        <th>Domicilio</th>
                        <td> {{customer.address}} </td>
                    </tr>
                    <tr>
                        <th>Region a la que pertenece</th>
                        <td>
                            {{region.region}} &nbsp;
                            <button (click)="updateCustomerRegion()" type="button" class="btn btn-link btn-sm">Actualizar <i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button style="float: right;" (click)="updateCustomer(customer)" type="button" class="btn btn-info btn-lg">Actualizar datos <i class="fas fa-edit"></i></button>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="customer_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Cliente</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="region">Ingresa el nombre:<span class="text-danger">*</span></label>
                  <input type="text" class="form-control marginForm" id="name" formControlName="name" placeholder="Nombre...">
                  <div *ngIf="submitted && f['name'].errors">
                    <div *ngIf="f['name'].errors['required']">
                        <span class="text-danger">El nombre del cliente es obligatorio</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el apellido:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="surname" formControlName="surname" placeholder="Apellido...">
                    <div *ngIf="submitted && f['surname'].errors">
                      <div *ngIf="f['surname'].errors['required']">
                          <span class="text-danger">El apellido del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el RFC:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="rfc" formControlName="rfc" placeholder="RFC...">
                    <div *ngIf="submitted && f['rfc'].errors">
                      <div *ngIf="f['rfc'].errors['required']">
                          <span class="text-danger">El RFC del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el correo electronico:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="mail" formControlName="mail" placeholder="Correo...">
                    <div *ngIf="submitted && f['mail'].errors">
                      <div *ngIf="f['mail'].errors['required']">
                          <span class="text-danger">El correo electronico del cliente es obligatorio</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa la direccion del cliente:<span class="text-danger">*</span></label>
                    <textarea type="text" class="form-control marginForm" id="address" formControlName="address" placeholder="Direccion..."></textarea>
                    <div *ngIf="submitted && f['address'].errors">
                      <div *ngIf="f['address'].errors['required']">
                          <span class="text-danger">La direccion del cliente es obligatoria</span>
                      </div>
                    </div>
                </div>
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-info marginForm" [disabled]="submitted">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="region_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Region</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formularioRegion" (ngSubmit)="onSubmitRegion()">
                <div class="form-group">
                    <label for="region">Selecciona la region a la que pertenece el cliente:<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="id_region">
                        <option value="0" disabled>Selecciona una region:</option>
                        <option *ngFor="let region of regions" [ngValue]="region.id_region"> {{region.region}} </option>
                    </select>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-info marginForm" [disabled]="submitted">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="image_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Imagen</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <label for="image">Imagen<span class="text-danger">*</span></label>
            <div class="custom-file form-group">
                <input type="file" accept="image/*" class="custom-file-input" (change)=fileChangeEvent($event)>
                <ngx-photo-editor
                    [imageChangedEvent]="imageChangedEvent"
                    (imageCropped)="imageCropped($event)"
                    [aspectRatio]="5/6"
                    [viewMode]="0"
                    [resizeToWidth]="250">
                </ngx-photo-editor>
            </div>
            <div>
                <br>
                <button (click)="onSubmitImage()" type="button" class="btn btn-info btn-block">Actualizar</button>
            </div>
        </div>

        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>
