<div class="container-fluid bg-dark">
    <div class="card-header text-center">
        <h3>
            <i class="fas fa-th-large"></i> Carrito <br> <br>
            <button (click)="deleteCart(rfc)" type="button" class="btn btn-outline-danger btn-sm">Eliminar carrito <i class="fas fa-trash"></i></button>  
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table bg-light text-center">
                <thead class="thead-light">
                    <tr>
                        <th>cantidad</th>
                        <th>Producto</th>
                        <th>Precio c/u</th>
                        <th> --- </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart">
                        <td>{{item.quantity}}</td>
                        <td>{{item.product.product}}</td>
                        <td>${{item.product.price}}</td>
                        <td>
                            <button (click)="removeFromCart(item.id_cart)" type="button" class="btn btn-outline-info btn-sm">Eliminar producto<i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button (click)="comprar()" type="button" class="btn btn-outline-success btn-lg">Confirmar compra</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="factura_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Inserte los datos de su tarjeta de credito</h5>
          <button (click)="closeModal()" type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form [formGroup]="formulario" (ngSubmit)="purchase(rfc)">
                <div class="form-group">
                  <label for="region">Numero de tarjeta:<span class="text-danger">*</span></label>
                  <input maxlength="16" minlength="16" type="text" class="form-control marginForm" id="tdc" formControlName="tdc" placeholder="Numero de 16 digitos...">
                  <div *ngIf="submitted && f['tdc'].errors">
                    <div *ngIf="f['tdc'].errors['required']">
                        <span class="text-danger">El numero de la tarjeta es obligatorio</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa la fecha de expiracion:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="expiracion" formControlName="expiracion" placeholder="Ingresa la fecha como mm/aa...">
                    <div *ngIf="submitted && f['expiracion'].errors">
                      <div *ngIf="f['expiracion'].errors['required']">
                          <span class="text-danger">La fecha de expiracion es obligatoria</span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region">Ingresa el numero de seguridad:<span class="text-danger">*</span></label>
                    <input maxlength="3" minlength="3" type="text" class="form-control marginForm" id="numSeguridad" formControlName="numSeguridad" placeholder="ingres el numero de seguridad...">
                    <div *ngIf="submitted && f['numSeguridad'].errors">
                      <div *ngIf="f['numSeguridad'].errors['required']">
                          <span class="text-danger">El numero de seguridad es obligatorio</span>
                      </div>
                    </div>
                </div>
                <br>
                <p><span class="text-danger">*</span>Campos obligatorios</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-success marginForm" [disabled]="submitted">Confirmar compra</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>